#main {
}

.boardTable {
  max-height: 100%;
  width: 100%;
  table-layout: fixed;
}

.boardCell {
  border: 1px black solid;
  position: relative;
}

.boardCell:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.boardCellContentWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.boardCellContent {
  font-size: 2em;
  color: white;
}

.boardTableBody {
}

.boardTableWrapper {
  max-height: 100%;
}

.titleText {
  text-align: center;
}
